
.layout {
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
}

.section {
    margin-top: 20px;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.algorithm-img {
    margin: 20px 0;
}

.footer{
    background-color: lightgray;
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 16px;
}
.footer p:last-child {
    margin-bottom: 0;
}
